body{
    overflow-y: hidden;
    overflow-x: hidden;
}
.box{
    height: 610px;
    width: 35%;
    /* border: 1px solid black; */
    margin-top: 5%;
    margin-left: 34%;
    border-radius: 29px;
    background: linear-gradient(to bottom, rgb(232, 227, 227) 10%,

        rgb(89, 169, 196) 100%,

        rgb(23, 125, 193) 10%);
     /* background: linear-gradient(to left,rgb(90, 67, 67) 0%,

        #e49b17 8%,

        rgb(142, 37, 37) 100%); */
    box-shadow: 0 2px 19px black;

}
.box1{
    height: 40%;
    /* border: 1px solid black; */
    border-radius: 29px;
    /* background-color: black; */
    margin-top: 5%;
    width: 75%;
    margin-left: 12.5%;
}
.cclms{
    height: 100%;
    width: 100%;
    border-radius: 29px;
    opacity: 20%;
    position: relative;
    margin-top: 4%;
}

.i1{
    position: absolute;
    /* top: 25; */
    /* left: 48.4%; */
    margin-bottom: 60%;
    height: 13;
    width: 6%;
    margin-top: -160px;
    margin-left: 9.5%;
    
}
.i2{
    height: 100%;
    width: 120%;

}  
.i2:hover{
    transform: scale(2.10);
    transition: all ease-in-out 3.3s;
}
.box2{
    height: 300px;
    width: 75%;
    /* border: 1px solid red; */
    margin-top: 7%;
    margin-left: 12.5%;
    border-radius: 29px;
    background-color: azure;
    box-shadow: 0 8px 25px black;
}
.box2:hover{
    transform: scale(1.07);
    transition: all ease-in-out 1s;
}
.sl{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-top: 3%;
    margin-left: 26%;
    padding-top: 30px;
    text-shadow: 0 0 10px rgb(160, 233, 243),
    0 0 15px rgb(157, 217, 225);
    
}
form{
    margin-top: 7%;
}
label{
    font-family: 'Poppins', sans-serif;
    margin-left:3%;
}
input{
    height: 20px;
    width: 80%;
    border-radius: 10px;
    border: 1.6px solid black;
    margin-top: 12px;
    margin-left: 39px;
    margin-bottom: 22px;
    
}
.w{
     height: 20px;
    width: 80%;
    border-radius: 10px;
    /* border: 0.1px solid black; */
    margin-top: 22px;
    /* margin-left: 39px; */
}
input::placeholder{
    color: rgb(70, 66, 66);
    font-size: 14px;
    margin-left: 132px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    /* border: 1px solid black; */
    padding: 3%;
    margin-top: 91%;
    margin-left: 28%;
    border-radius: 19px;
    color: rgb(255, 244, 244);
    background-color:beige ;
     background: linear-gradient(to bottom, rgb(232, 227, 227) 10%,

        rgb(89, 169, 196) 100%,

        rgb(23, 125, 193) 10%);
    
}
.s{
    margin-top: 2%;
}
a:hover{
    color: black;
    /* background-color: rgb(130, 181, 201); */
    background: linear-gradient(to bottom, rgb(222, 214, 214) 10%,

        rgb(89, 169, 196) 100%,

        rgb(16, 119, 188) 10%);
    transform: scale(2.07);
    transition: all ease-in-out 1s;
}
body{
   background: 
    radial-gradient(ellipse 450px 600px at left center,
            rgba(0,170,255,.28),
            transparent 70%),

        radial-gradient(ellipse 450px 600px at right center,
            rgba(0,170,255,.28),
            transparent 70%),

        linear-gradient(to bottom,#f9fbfd,#eef2f5);
}